/*business register start*/
/*business register section 1 start*/
.business-register-section-1 {
  width: 100%;
  padding-top: var(--section-gap);
}

.b-r-s-1-heading {
  text-align: center;
}

.b-r-s-1-heading h2 {
  color: var(--main-blue-color);
  font-family: var(--main-font-family);
  font-weight: 600;
  letter-spacing: 1px;
}

.b-r-s-1-heading p {
  font-family: var(--main-font-family);
  color: var(--medium-text-color);
  letter-spacing: 0.5px;
  line-height: 30px;
  font-style: italic;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.form_wrapper {
  background: #fff;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  z-index: 1;
  border-top: 5px solid #f5ba1a;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transform-origin: 50% 0%;
  transform: scale3d(1, 1, 1);
  transition: none;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 0;
  border-radius: 10px;
}

.form_wrapper h2 {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0;
  font-weight: 600;
  color: var(--main-blue-color);
}

.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}

.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

.form_wrapper label {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  font-family: var(--main-font-family);
  letter-spacing: 0.5px;
}

.form_wrapper .row {
  margin: 10px -15px;
}

.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}

.form_wrapper .col_half {
  width: 100%;
  float: left;
}

.form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
  animation: bounce 0.6s ease-out;
}

.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  width: 30px;
}

.form_wrapper .input_field > span > i {
  padding-top: 10px;
}

.form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}

.form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=password] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=password]:hover {
  background: #fafafa;
}

.form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=password]:focus {
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}

.form_wrapper input[type=submit] {
  background: #f5ba1a;
  padding: 10px 25px;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.form_wrapper input[type=submit]:hover {
  background: #e1a70a;
}

.form_wrapper input[type=submit]:focus {
  background: #e1a70a;
}

.form_wrapper input[type=checkbox], .form_wrapper input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form_container .row .col_half.last {
  border-left: 1px solid #ccc;
}

.checkbox_option label {
  margin-right: 1em;
  position: relative;
}

.checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid #ccc;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}

.checkbox_option label:after {
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}

.checkbox_option input:hover + label:before {
  border-color: #000;
}

.checkbox_option input:checked + label:before {
  border-color: #000;
}

.checkbox_option input:checked + label:after {
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 17px;
  border-color: #000;
}

.radio_option label {
  margin-right: 1em;
}

.radio_option label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid #ccc;
  padding: 0.15em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}

.radio_option input:hover + label:before {
  border-color: #000;
}

.radio_option input:checked + label:before {
  background-color: #000;
  border-color: #000;
}

.select_option {
  position: relative;
  width: 100%;
}

.select_option select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid #ccc;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}

.select_option select::-ms-expand {
  display: none;
}

.select_option select:hover, .select_option select:focus {
  color: #000;
  background: #fafafa;
  border-color: #000;
  outline: none;
}

.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}

.select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
  border-top-color: #000;
}

.credit {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 15px;
  color: #f5ba1a;
}

.credit a {
  color: #e1a70a;
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
@keyframes expand {
  0% {
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    transform: translate3d(0, 10px, 0);
  }
  50% {
    transform: translate3d(0, -6px, 0);
  }
  75% {
    transform: translate3d(0, 2px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
  }
  .bottom_row .col_half {
    width: 50%;
    float: left;
  }
  .form_container .row .col_half.last {
    border-left: none;
  }
  .remember_me {
    padding-bottom: 20px;
  }
}
.b-r-s-1-right input::-moz-placeholder {
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: var(--main-font-family);
}
.b-r-s-1-right input::placeholder {
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: var(--main-font-family);
}

.cb-1-wrap {
  color: var(--medium-text-color) !important;
  font-size: 12px !important;
}

.b-r-s-1-right i {
  color: var(--main-blue-color);
}

.b-r-sec {
  padding: 3rem 0;
  border-radius: 5px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.b-r-sec figure {
  display: flex;
}

.b-r-secfigure img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px solid #f05a00;
  margin-right: 1.5rem;
}

.b-r-sec figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.b-r-sec figure figcaption h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

.b-r-sec figure figcaption h6 {
  font-size: 1rem;
  font-weight: 300;
}

.b-r-sec figure figcaption h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.b-r-sec .order-track {
  /* margin-top: 5rem; */
  padding: 0 1rem;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.b-r-sec .order-track-step {
  display: flex;
  /* height: 7rem; */
}

.b-r-sec .order-track-step:last-child .order-track-status span:last-of-type {
  display: none;
}

.b-r-sec .order-track-status {
  margin-right: 1.5rem;
  position: relative;
}

.b-r-sec .order-track-status-dot {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: #f05a00;
}

.b-r-sec .order-track-status-line {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 7rem;
  background: #f05a00;
}

.b-r-sec .order-track-text-stat {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 3px;
  color: var(--main-blue-color);
}

.b-r-sec .order-track-text-sub {
  font-size: 14px;
  font-weight: 300;
  color: var(--medium-text-color);
  letter-spacing: 0.5px;
}

.b-r-sec .order-track {
  transition: all 0.3s height 0.3s;
  transform-origin: top center;
}

.b-r-sec-heading {
  padding: 0 20px;
  font-family: var(--main-font-family);
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--main-orange-border-color);
}

.gfghgbj5
{
    position: absolute;
    top: 35%;
    left: 8%;
    color: white;
}

.gfghgbj5
{
    width: 60%;
}

.gfghgbj5 a 
{
  padding: 9px 20px;
  background-color: #f67417;
  color: white;
  margin-top: 5px;
  border-radius: 4px;

}


@media only screen and (max-width:991px)
{
    .gfghgbj5
    {
        position: absolute;
        top: 14%;
        /* left: 8%; */
        color: white;
    }
    .gfghgbj5 h2 
    {
    text-align: left !important;
    }

}

/*business register section 1 end*/
/*business register end*/